<input matInput placeholder="Movie title" [value]="searchTitle" (change)="setSearchString($event.target.value)">
<button mat-button (click)="searchMovie()">Search</button>
<p>{{movie.title}}</p>
<p>{{movie.year}}</p>
<p>{{movie.released}}</p>
<p>{{movie.duration}}</p>
<p>{{movie.genre}}</p>
<p>{{movie.actors}}</p>
<p>{{movie.plot}}</p>
<p>{{movie.language}}</p>
<p>{{movie.imdbRating}}</p>
<img [src]="movie.poster">